/* 
Please use the find feature to find the section of the CSS you want by referencing the content section here!
  /* ----------------------------------------------------------------------- 
  Contents 
   1. Main
   2. Screen Adjustments
   3. Text / Text Boxes
   4. Pictures
   5. Map
   6. Navigation Bar
   6b. Mobile Navigation Bar
   7. Comments
   8. Etc
   ----------------------------------------------------------------------- */


/* 1. Main */

html > body {
  scroll-behavior: auto;
  /* multiple color stages in the gradient to create a smooth color flow */
  background: repeating-linear-gradient(to left,#f08658 4%, #ff6f48 19%, #ff6f54 34%, #f08658 47%,
                                                #ff6f47 56.5%,#f08658 61%,  #e6886e 65%, #ff9d64 74%, #e6886e 99%);
  /* 2. Screen Adjustments */


/* as of this version the side nav bar is adjustable to all screen types. */
}
/* Mobile Styles */
  @media only screen and (max-width: 600px) {
  /*   body {
        background: linear-gradient(to left, #ff9900 10%, #ffcc00 66%);
    } */
    .sideNavBar {
      visibility: hidden;
    }
  
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 601px) and (max-width: 960px) {
  /*   body {
        background: linear-gradient(to left, #ff9900 10%, #ffcc00 66%);
    } */
    #navbar-mobile {
      visibility: hidden;
    }
  
  }
  
  /* Desktop Styles */
  /* Although having all 3 properties here isn't needed, will be left for a reference point on other projects for now */
  @media only screen and (min-width: 961px) {
  /*   body {
        background: linear-gradient(to left, #fffff0 15%, #d63706 55%);
    } */
    #navbar-mobile {
      visibility: hidden;
    }
  }


.container {
  padding-top: 10px;
}

/* ----------------------------------------------------------------------- */



/* resizing for different screens, keeps the dimensions still intact */
@media only screen and (min-width: 10px) and (max-width: 1220px) {
  .d-block {
    display: block;
    overflow: visible;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    max-height: 100%;
    max-width: 100%;
    min-width: auto;
    min-height: auto;
    margin-top: 10px;
  }
}

/* To make it that mobile screens space the headings properly */
/* Ideally anything smaller than a laptop/desktop  */
@media only screen and (max-width: 960px) {
  .container {
    padding-top: 150px;

  }
}
@media (max-width: 1175px) {
  .navbar .navbar-brand {float:none;display: inline-block;}
  .navbar .navbar-nav>.nav-item { float: none; margin-left: .1rem;}
  .navbar .navbar-nav {float:none !important;}
  .nav-item{width:100%;text-align:left;}
  .navbar-toggler {display: block !important;}
  .navbar-toggleable-sm.collapse {display:none !important}
  .navbar-toggleable-sm.collapse.in {display:block !important}
}

@media (max-width:1125px) {
 .navbar-toggler {
    border: 2px solid #FFCF0D;
    font-family: 'Bangers', 'sans-serif';
    text-shadow: 4px 4px 4px #000000;
    font-size: 25px;
    color:#FFCF0D;
    width: 250px;
    background: linear-gradient(to left, #ff9900 2%, #e8710c 65%);
}
} 


/* ----------------------------------------------------------------------- */
/* 3. Text / Text Boxes */
.hoursOperation {
  font-family: 'Proza Libre', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 3px;
  text-align: left;
  
}

#subText {
  text-align: center;
}

.desc {
  text-align: left;
}

.bold {
  font-weight:bold;
  text-align: left;
}

.hours {
  border: 20px;
}


.menuHeader {
font-family: 'Hammersmith One', 'sans-serif';
color: #ffffff;
text-shadow: 4px 4px 4px #000000;
padding-top: 5px;
text-align: center;
}

.subMenuHeader {
  font-family: 'Hammersmith One', 'sans-serif';
  color: #000000;
  text-shadow: 4px 4px 4px #a7a4a4;
  padding-top: 5px;

}

.h2 {
  margin-bottom: -20px;
  color: #ffffff;
}

p {
  color: #a7a4a4;
}

/* horizontal lines, but invisible for spacing on certain niches of website */

hr {
  visibility: hidden;
  clear: both;
}

li {
  border: 1px solid white;
  height: 45px;
  max-height:100%;
  border-radius: 20px;
}

.table td, .table th,
.menuItem {
  font-family: bangers;
    	color: #000000;
  	font-weight: 500;
}

/* Operation time-block */
.menu-timeframe {
  padding-top: 25px;
}

.menuItem,
.hoursOperation,
#storePic {
  border: 1px dashed #ff590D;
	box-shadow: 0 0 0 3px #ff590D, 0 0 0 5px #FFCF0D, 0 0 0 10px #E8710C, 0 0 2px 10px #FFCF0D;
  margin-top: 25px;
  margin-bottom: 20px;
  background: #ffffff;
 /*  background: linear-gradient(to right, #e94200 2%, #d81c03 78%); */
  border-radius: 20px 20px 20px 20px;
}


#footer {
  color: black;
}
/* ----------------------------------------------------------------------- */

/* 4. Pictures */

.mainPicture {
  
  max-width: 100%;
  max-height: 100%;
  display: block;
  border: 1px solid red;
  border-radius: 5%;
}

#logo {
  border-radius: 25px;
  border: 3px solid red;
  margin-top: 5px;
  float: left;
}

#storePic {
  display: flex;
  margin: 0 auto;
  max-width: 450px;
  max-height: 450px;
}


.top-picture{
  padding-top: 10px;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.carousel {
  display: block;
  margin: 0 auto;
  width:500px;
  height:360px;
  max-width: 80%;
  overflow-x: hidden;
}

/* carousel elements */
.d-block, w-100,
carousel-item{
  overflow: hidden;
  display: block;
  width: 10px;
  height: 300px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 6%;
  border: 5px solid #ff5900; 
}

.carousel {
  border: 5px solid #ff5900; 
  height: 100%;
  max-width: 100%;
  border-radius: 10%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}

/* The text on the carousel pictures and other pictures */
.carousel-desc {
  position: relative;
  left: auto;
  right: auto;
  top: -50px;
  color: #fff;
  font-family: 'Bangers', 'sans-serif';
  font-size: 30px;
  text-shadow: 4px 4px 4px #000000;
}

#menuShowcase {
  position: relative;
  text-align: center;
  color: #ccc5c2;
  font-family: 'Bangers', 'sans-serif';
  font-size: 30px;
  text-shadow: 3px 5px 7px #000000;
}

.menuPic {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  border-radius: 20%;
  border: 1px dashed #E8710C;
}


#rotatedPic {
  image-orientation: from-image;
}



/* ----------------------------------------------------------------------- */

/* 5. Map */


#map {
   display: block;
   margin: 0 auto;
   border-top: 1px solid #000000;
   background: #d9f72d;
   background: -webkit-gradient(linear, left top, left bottom, from(#f52d00), to(#d9f72d));
   background: -webkit-linear-gradient(top, #f52d00, #d9f72d);
   background: -moz-linear-gradient(top, #f52d00, #d9f72d);
   background: -ms-linear-gradient(top, #f52d00, #d9f72d);
   background: -o-linear-gradient(top, #f52d00, #d9f72d);
   padding: 19px 38px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 21px;
   font-family: "Hammersmith One", serif;
   text-decoration: none;
   }

#map > a {
  color: #ffffff;
  padding: 40px;
}

#map:hover {
   border-top-color: #de2b03;
   background: #de2b03;
   color: #ccc;
   }
#map:active {
   border-top-color: #fc2600;
   background: #fc2600;
   }



/* ----------------------------------------------------------------------- */

/* 6. Navigation Bar */

.sideNav {
  z-index: 1110;
  position: fixed;
  width: 250px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
  background: linear-gradient(to left, #ff9900 10%, #ffcc00 66%);
  transition: all .5 ease;
  overflow-y: visible;
  border-radius: 5%;
  border: 2px solid #d81c03;
}

.sideNav header {
  color: ffffff;
  margin: 10px 10px 10px 10px;
  background: #ff5900;
  
}

.sideNav  ul a{
  display: block;
  width: 100%;
  line-height: 30px;
  transition: .4s;
  border-radius: 30px;
  left: -100px;
  font-family: 'Hammersmith One';
}


#check {
  font-family: 'Hammersmith One';
}

ul li:hover a {
  padding-left: 10px;
  color: orange;
}

a {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  z-index: 1111;
  position: fixed;
  cursor: pointer;
  background: #d63f03;
  border-radius: 0px;
  padding: 6px 6px;
}

label #btn
{
  z-index: 1111;
  left: 40px;
  top: 25px;
  font-size: 40px;
  color: #ffffff;
  padding: 6px 6px;
  transition: all ease .5s;
  visibility: hidden;
}

label #cancel {
  left: 210px;
  top: 17px;
  font-size: 20px;
  color: #d7e5e9;
  padding: 4px 5px;  
}

#check:checked ~ .sideNav {
  left: -250px;
  transition: all ease .5s;
}

#check:checked ~ label #btn {
  left: -250px;
  pointer-events: none;
  transition: all ease .5s
}

#check:checked ~ label #cancel {
  left: 0;
}

/* ----------------------------------------------------------------------- */

/* 6b. navbar for mobile */
.navbar-brand,
.navbar-text {
  text-align: center;
  font-family: 'Bangers', arial;
  text-shadow: 4px 4px 4px #ffffff;

}
.nav-link {
  color: black;
  font-family: 'Hammersmith One', 'sans-serif';
  font-size: 15px;
  max-height: 100%;
  text-shadow: 3px 3px 8px #fff;
  border-bottom: 10px;
}

.navbar-toggler-icon {
  position: relative;
  left: -29px;
  font-size: 20px;
}

#check:checked ~ section {
  margin-left: 195px;
}

.navbar-nav {
  border-radius: 20px;
  width: 300px;
  
}

#mobileNavBar {
  width:55%;
  margin-bottom: 10px;
}
/* ----------------------------------------------------------------------- */

/* 7. Comments */
footer {

  display: block;
  text-align: center;
  margin: 0 auto;
}

/* ----------------------------------------------------------------------- */

/* 8. Misc/Etc */

#redText {
  color: #f3593efa;
  border: 1px solid white;
  text-shadow: -1px 1px 2px -1px #000000;
  font-weight: 400;
}

#simpleMenu {
    float: right;
    padding:0.35em 1.2em;
    border:0.1em solid #ffffff;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Hammersmith One',sans-serif;
    font-weight:300;
    color:#fffb00;
    text-align:center;
    transition: all 0.2s;
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 10px;
  }

#simpleMenu:hover{
    color:#000000;
    background-color:#ffffff;
    }

@media all and (max-width:30em){

  #simpleMenu {
  display:block;
  margin:0.4em auto;
 }
 } 


/* ----------------------------------------------------------------------- */
/* End */
